 /* RESET CSS */
 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   text-decoration: none;
 }
 
 body {
   margin: auto;
   background-color: bisque;
 }

 #wrapper {
  padding:  6% 0%;
}

.header {
  /* height: 100vh; */
}

#logo {
  width: 65%;
}

.header-bg {
  width: 50%;
}

 @keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* 60% {
        transform: rotate(20deg)
    } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

#logo-heading {
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: step-end;
}

/* @keyframes topHeader {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
   60% {
        transform: rotate(20deg)
    } 
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

#top-header {
  position: absolute;
  top: -3%;
  left: 31%;

  animation-name: topHeader;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
} */

@keyframes soulFood1 {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  /* 60% {
        transform: rotate(20deg)
    } */
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

#soul-food-1 {
  position: absolute;
  top: 15%;
  width: 65%;

  animation-name: soulFood1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes soulFood2 {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* 60% {
        transform: rotate(20deg)
    } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

#soul-food-2 {
  position: absolute;
  top: 10%;
  left: 68%;
  width: 32%;

  animation-name: soulFood2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes soulFood3 {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  60% {
        transform: rotate(20deg)
    }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

#soul-food-3 {
  position: absolute;
  top: 55%;
  left: 70%;
  width: 30%;

  animation-name: soulFood3;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .header-bg {
    width: 40%;
  }

  #soul-food-3 {
    top: 30%;
    right: -12%;
  }

  #soul-food-2 {
    top: 5%;
    right: -12%;
  }
}


@media only screen and (max-width: 900px) {
  .header-bg {
    width: 30%;
  }

  #soul-food-1 {
    width: 75%;
  }

  #soul-food-3 {
    top: 45%;
    right: -12%;
  }
}

@media only screen and (max-width: 600px) {

  .header-bg {
    width: 100%;
  }

  #logo-heading {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  #soul-food-1 {
    display: none;
  }

  #soul-food-2 {
    display: none;
  }

  #soul-food-3 {
    display: none;
  }
} 